<section class="content mt-5">
  <div class="container fixed-grid has-3-cols has-1-cols-mobile">
    <div class="columns is-col-min-16 is-gap-3 is-flex-direction-row-reverse">
      <div class="column is-3">
        <h1 class="title is-4 is-uppercase">{{ collection.fields.title }}</h1>
        <p>{{ collection.fields.description }}</p>
      </div>
      <div class="column is-9">
      {%- if collection.fields.video %}
        <div class="video mb-5">
          <figure class="image is-16by9">
            <iframe class="has-ratio" width="100%" src="https://www.youtube-nocookie.com/embed/{{ collection.fields.videoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </figure>
        </div>
      {%- endif %}
      {%- for photo in collection.fields.photos %}
        <div class="card">
          <div class="card-content">
            <div class="card-image">
              <figure class="image">
                <img src="{{ photo.fields.file.url }}" alt="{{ collection.fields.title }}"/>
              </figure>
            </div>
          </div>
        </div>
      {%- endfor %}
      </div>
    </div>
  </div>
</section>